In [25]:
import diff_match_patch
from img2table.document import Image

from IPython.display import display_html
from PIL import Image as PILImage
from openpyxl import load_workbook
from io import BytesIO
import cv2

from img2table.ocr import TesseractOCR
from img2table.document import Image


import webbrowser



PWD = '/Users/satoki252595/work/20240114_nriocr2'

PATH_IMAGE = PWD + '/static/image/'
PATH_TEXT = PWD + '/static/text/'

def getImageTable(img_path):
    
    # Instantiation of OCR
    ocr = TesseractOCR(n_threads=1, lang="jpn")

    # Instantiation of document, either an image or a PDF
    doc = Image(src = img_path)

    # Table extraction
    extracted_tables = doc.extract_tables(ocr=ocr,
                                        implicit_rows=False,
                                        borderless_tables=False,
                                        min_confidence=50)
    
    return extracted_tables


    
extracted_tables = getImageTable(PATH_IMAGE + '4307.png')

# Display extracted tables
table_img = cv2.imread(PATH_IMAGE + '4307.png')

for table in extracted_tables:
    for row in table.content.values():
        for cell in row:
            cv2.rectangle(table_img, (cell.bbox.x1, cell.bbox.y1), (cell.bbox.x2, cell.bbox.y2), (255, 0, 0), 2)
            
PILImage.fromarray(table_img)

tesseract 5.3.4
 leptonica-1.84.1
  libgif 5.2.1 : libjpeg 8d (libjpeg-turbo 3.0.0) : libpng 1.6.40 : libtiff 4.6.0 : zlib 1.2.12 : libwebp 1.3.2 : libopenjp2 2.5.0
 Found NEON
 Found libarchive 3.7.2 zlib/1.2.12 liblzma/5.4.4 bz2lib/1.0.8 liblz4/1.9.4 libzstd/1.5.5
 Found libcurl/8.4.0 SecureTransport (LibreSSL/3.3.6) zlib/1.2.12 nghttp2/1.58.0

TypeError: 'implicit_rows' is an invalid keyword argument for imread()

In [24]:
from PIL import Image as PILImage

img = Image(src=PATH_IMAGE + '4307.png')

# Extract tables
extracted_tables = img.extract_tables(implicit_rows=True)

extracted_tables

TypeError: Image.extract_tables() got an unexpected keyword argument 'implicit_columns'

In [21]:
display_html(table.html_repr(title="Regular table"), raw=True)

,0,1,2,3,4,5
0,,年 間 配当 金,年 間 配当 金,年 間 配当 金,年 間 配当 金,年 間 配当 金
1,,第 1 四半 期末,第 2 四半 期末,第 3 四半 期末,期末,合計
2,2023 年 3 月 期\n2024 年 3 月 期,円\nー\nー,円\n22.00\n24.00,円\nー\nー,円\n23.00,円\n45.00
3,2023 年 3 月 期\n2024 年 3 月 期,円\nー\nー,円\n22.00\n24.00,円\nー\nー,,
4,2024 年 3 月 期 予 想 ),,,,29.00,53.00