In [15]:
import pandas as pd

df1 = pd.DataFrame({'col_0': [True, True, True, True, True],
                   'col_1': [True, True, True, True, True],
                   'col_2': [True, True, True, True, True],
                   'col_3': [True, True, True, True, True]},
                  index=['row_0', 'row_1', 'row_2', 'row_3', 'row_4'])

df2 = df1.copy()
df2.iloc[1,1] = False

In [17]:
df1

       col_0  col_1  col_2  col_3
row_0   True   True   True   True
row_1   True   True   True   True
row_2   True   True   True   True
row_3   True   True   True   True
row_4   True   True   True   True

In [26]:
x = True

for v in df2.all():    
    x *= v

print(bool(x))

False